<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Current Deposits</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    
    <div class=row>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="vtabs col-12">
                        <ul class="nav nav-tabs tabs-vertical" role="tablist">
                            <% @deposit.first(10).each_with_index do |d,i| %>
                                <% if i == 0 %>
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#deposit<%= d[0] %>" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down"><%= d[1] %></span> </a> </li>
                                <% else %>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#deposit<%= d[0] %>" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down"><%= d[1] %></span></a> </li>

                                <% end %>
                                        
                            <% end %>
                            <li class="nav-item"> <a class="nav-link" href="deposit" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">
                            <i class="fa fa-plus"></i> Add
                                </span></a> </li>
                        </ul>
                        <div class="tab-content">
                            <% @deposit.first(10).each_with_index do |e,i| %>
                                <% if i == 0 %>
                                <div class="tab-pane active" id="deposit<%= e[0] %>" role="tabpanel">
                                    <div class="p-20">
                                        <div class="form-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Round Amount</label>
                                                            <input class="form-control" type="text" value="$<%= e[5] %>" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="row" style="display:flex;justify-content: center;">
                                                <div style="width:90%;">
                                                    <h4 class="card-title">Projected Earnings from this Feature</h4>
                                                    <div id="chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <%= form_tag accessed_action_path, method: :post do %>
                                        <%= submit_tag 'Run Test', id:"success",class:"btn btn-success " %>
                                <% end %>

                                <% else %>
                                <div class="tab-pane" id="deposit<%= e[0] %>" role="tabpanel">
                                    <div class="p-20">
                                        <div class="form-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Round Amount</label>
                                                            <input class="form-control" type="text" value="$<%= e[5] %>" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="row" style="display:flex;justify-content: center;">
                                                <div style="width:90%;">
                                                    <h4 class="card-title">Projected Earnings from this Feature</h4>
                                                    <div id="chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container fluid  -->
</div>
<script>
    $('#success').click(function () {
        toastr["success"]("Deposit Completed", "Success");
    });
    var x = 0;
    var y = 0;
    var data =[];
    var current = 2018;
    for (var i = 0; i < 30; i++){
        data.push({
            period: String(current + i),
            with: x,
            without: y
        });
        x = x + 350.37;
        x = x*1.05;
        x = Math.round(x * 100)/100;
    }
    console.log (data);
Morris.Area({
    element: 'chart',
    data,
    lineColors: ['#26DAD2', '#fc6180'],
    xkey: 'period',
    ykeys: ['with', 'without'],
    labels: ['With Round', 'Without'],
    pointSize: 0,
    lineWidth: 0,
    resize: true,
    fillOpacity: 0.8,
    behaveLikeLine: true,
    gridLineColor: '#e0e0e0',
    hideHover: 'auto'

});
</script>