<!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <div class=row>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="vtabs col-12">
                                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#round-off4" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Round off</span> </a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#income4" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">% Income</span></a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#spendings4" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">% Spendings</span></a> </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="round-off4" role="tabpanel">
                                            <div class="p-20">
                                            <form accept-charset="UTF-8" action="<%= deposits_url %>"  method="post">
                                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                                <input type="hidden" name="type" value="round">
                                                <div class="form-body">
                                                    <h3 class="card-title m-t-15">Account Selection</h3>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Withdraw</label>
                                                                <select class="form-control input-default" name=waccount>
                                                                    <option value="bank_account-r9csRpcyhbOvTKSnCGbbcoNs3w">RBC ****533</option>
                                                                    <option value=bank_account-UOmUMkBVkdHxbZkyTTkYcAw7ZsQ">RBC ****453</option>
                                                                    <option value="bank_account-NOSMqWq17OqwzdxCA2rB2gA2LNw">BMO ****121</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Deposit</label>
                                                                <select class="form-control input-default" name=daccount>
                                                                    <option value="rrsp-50dttgfe">RRSP</option>
                                                                    <option value="tfsa-arbu_-o3">TSFA</option>
                                                                    <option value="ca-hisa-lciuw77c">HISA</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title m-t-15">Deposit Setting</h3>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Round Off</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" style="padding:7px;border-left: 1px solid #e7e7e7;border-top: 1px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;border-top-left-radius: 4px;border-bottom-left-radius: 4px;">$</span>
                                                                    <input type="number" class="form-control input-default" name="amount" placeholder="0.00" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label>Before Round</label>
                                                            <div class="form-group">
                                                                <input class="form-control input-default" type="text" value="$1.23" disabled="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 text-center align-middle">
                                                            <i class="fa fa-arrow-circle-right" style="margin-top:45px" aria-hidden="true"></i>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <div class="form-group">
                                                                    <label>After Round</label>
                                                                    <input class="form-control input-default" type="text" value="$1.23" disabled="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=col-md-2>
                                                        <button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane p-20" id="income4" role="tabpanel">
                                            
                                            <form accept-charset="UTF-8" action="<%= deposits_url %>"  method="post">
                                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                            <input type="hidden" name="type" value="pincome">
                                                <div class="form-body">
                                                    <h3 class="card-title m-t-15">Account Selection</h3>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Withdraw</label>
                                                                <select class="form-control input-default" name=waccount>
                                                                    <option value="bank_account-r9csRpcyhbOvTKSnCGbbcoNs3w">RBC ****533</option>
                                                                    <option value=bank_account-UOmUMkBVkdHxbZkyTTkYcAw7ZsQ">RBC ****453</option>
                                                                    <option value="bank_account-NOSMqWq17OqwzdxCA2rB2gA2LNw">BMO ****121</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Deposit</label>
                                                                <select class="form-control input-default" name=daccount>
                                                                    <option value="rrsp-50dttgfe">RRSP</option>
                                                                    <option value="tfsa-arbu_-o3">TSFA</option>
                                                                    <option value="ca-hisa-lciuw77c">HISA</option>
                                                                </select>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title m-t-15">Deposit Setting</h3>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Percent of Income</label>
                                                                <div class="input-group">
                                                                    <input type="number" name="amount" class="form-control input-default" placeholder="00" />
                                                                    <span class="input-group-addon" style="padding:7px;border-right: 1px solid #e7e7e7;border-top: 1px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;border-top-right-radius: 4px;border-bottom-right-radius: 4px;">%</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=col-md-2>
                                                        <button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane p-20" id="spendings4" role="tabpanel">
                                            <form accept-charset="UTF-8" action="<%= deposits_url %>"  method="post">
                                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                            <input type="hidden" name="type" value="pspendings">
                                                <div class="form-body">
                                                    <h3 class="card-title m-t-15">Account Selection</h3>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Withdraw</label>
                                                                <select class="form-control input-default" name=waccount>
                                                                    <option value="bank_account-r9csRpcyhbOvTKSnCGbbcoNs3w">RBC ****533</option>
                                                                    <option value=bank_account-UOmUMkBVkdHxbZkyTTkYcAw7ZsQ">RBC ****453</option>
                                                                    <option value="bank_account-NOSMqWq17OqwzdxCA2rB2gA2LNw">BMO ****121</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Deposit</label>
                                                                <select class="form-control input-default" name=daccount>
                                                                    <option value="rrsp-50dttgfe">RRSP</option>
                                                                    <option value="tfsa-arbu_-o3">TSFA</option>
                                                                    <option value="ca-hisa-lciuw77c">HISA</option>
                                                                </select>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title m-t-15">Deposit Setting</h3>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Percent of Spendings</label>
                                                                <div class="input-group">
                                                                    <input type="number" name="amount" class="form-control input-default" placeholder="00" />
                                                                    <span class="input-group-addon" style="padding:7px;border-right: 1px solid #e7e7e7;border-top: 1px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;border-top-right-radius: 4px;border-bottom-right-radius: 4px;">%</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class=col-md-2>
                                                        <button type="submit" class="btn btn-info"><i class="fa fa-check"></i> Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Container fluid  -->
            </div>
            <!-- End Page wrapper  -->